@keyframes fillCircle { // L'animation qui fait remplit le rond
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}


@keyframes slide { // L'animation du o du loader
  0% {
    transform: translateX(0) rotate(0);
  }

  50% {
    transform: translateX(780%) rotate(360deg);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes maskText { // L'animation du texte du loader qui s'efface au fur et à mesure
  0% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
  50% {
    clip-path: inset(0 0 0 105%);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes endLoader { // L'animation qui fait disparaître le loader fictif
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes slideFromRight { // L'animation des éléments de la page menu qui apparaissent
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}