@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

:root {
  --medium-grey: #EAEAEA;
  --light-grey: #F6F6F6;
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --dark-grey: #353535;
}

a {
  text-decoration: none;
}

* {
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
