@use 'general.scss';
@use 'animations.scss';

.header {
  display: flex;
  justify-content: center;
  position: relative;

  &__title {
    color: black;
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 14px;
  }

  &__goback { // Bouton retour en arrière
    position: absolute;
    left: 20px;
    bottom: 16px;
  }
}

.background { // Image du restaurant
  height: 275px;
  width: 100vw;
}

.menu {
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: var(--light-grey);
  margin-top: -56px;
  width: 100vw;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-weight: 400;
      font-family: 'Shrikhand';
      font-size: 28px;
      padding-top: 32px;
      padding-left: 17px;
    }

    &__like {
      padding-top: 32px;
      margin-left: 30px;
    }

    &__likeactive {
      padding-top: 32px;
      margin-left: -22px;
      opacity: 0;
    }

    &__likeactive:hover {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.4s ease;
    }
  }

}

.menu__content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  &__item {
    margin-left: 13px;
    margin-right: 13px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 12px;
    padding: 13.5px 13.5px 13.5px 15px;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transform: translateX(110%);
    animation: slideFromRight 0.5s ease forwards;
    animation-delay: calc(0.1s * var(--item-index));

    &__title {
      display: inline-block;
      width: 100%;
      font-weight: 500;
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: padding-right 0.2s ease;
    }

    &__description {
      display: flex;
      justify-content: space-between;

      span:nth-child(1) {
        font-weight: 300;
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: padding-right 0.2s ease;
      }

      span:nth-child(2) {
        font-weight: 700;
        font-size: 15px;
        transition: padding-right 0.2s ease;
      }
    }

    &__check {
      width: 59px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(153, 226, 208, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(59px);
      transition: transform 0.2s ease;
    }

  }


  &__item:hover {
    cursor: pointer;

    .menu__content__item__check {
      transform: translateX(0px);
    }

    .menu__content__item__title {
      padding-right: 35%;
    }

    .menu__content__item__description span:nth-child(2) {
      padding-right: calc(13.5px + 59px);
    }

    .menu__content__item__description span:nth-child(1), {
      padding-right: 13.5px;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 16px;
    margin-left: 13px;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin-bottom: 12px;
    margin-top: 40px;
  }

  &__button {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px - 13.5px;
    margin-bottom: 40px;
    height: 50px;
    width: 50%;
    font-weight: 500;
  }
}

@media (min-width: 1440px) {
  .menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content {
      width: auto;
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  .background {
    object-fit: cover;
  }
}